.LoginForm {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.input {
    height: 38px;
    margin-top: 10px;
    border: 2px solid var(--icon-redesigned);
    border-radius: 16px;
    padding: 0 12px;
    width: 100%;
    color: var(--text-redesigned);
    background: none;

    &::placeholder {
        color: var(--hint-redesigned);
    }
}

.timePicker {
    display: flex;
    justify-content: space-between;
    width: 100px
}


.loginBtn {
    margin-top: 15px;
    margin-left: auto;
}


